{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/finches/finch-detail.css' %}"
/>
<script defer src="{% static 'js/finch-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="finch-container">
  <div class="finch-img">
    <img 
      src="{% static 'images/1433702689.svg' %}" width='200px'
      alt="A finch on a branch"
    >
  </div>
  <div class="finch-details">
    <h1>{{ finch.name }}</h1>
    {% if finch.age > 0 %}
      <h2>A {{ finch.age }} year old {{ finch.breed }}</h2>
    {% else %}
      <h2>A {{ finch.breed }} kitten.</h2>
    {% endif %}
    <p>{{ finch.description }}</p>
    <div class="finch-actions">
      <a href="{% url 'finches_update' finch.id %}" class="btn warn">Edit</a>
      <a href="{% url 'finches_delete' finch.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img 
        src="{% static 'images/1358327105.svg' %}" 
        alt="A worm with 3D glasses"
      />
      <img 
        src="{% static 'images/1545004378.svg' %}"
        alt="A seed"
      />
      <img 
        src="{% static 'images/johnny_automatic_loaf_of_bread.svg' %}" 
        alt="A loaf of bread with half it sliced"
      />
    </div>
    <h3>Add a Feeding</h3>
    <form
    action="{% url 'add_feeding' finch.id %}" 
    method="POST" 
    class="subsection-content"
  >
    {% if finch.fed_for_today %}
        <p class="fed">{{finch.name}} has been fed all their meals for today!</p>
      {% else %}
        <p class="unfed">{{finch.name}} might be hungry!</p>
      {% endif %}
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <h3>Past Feedings</h3>
    {% if finch.feeding_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Meal</th></tr>
        </thead>
        <tbody>
          {% for feeding in finch.feeding_set.all %}
            <tr>
              <td>{{feeding.date}}</td>
              <td>{{feeding.get_meal_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
			<div class="subsection-content">
        <p>{{finch.name}} has never been fed 😔</p>
      </div>
    {% endif %}
  </section>
  <section class="toys">
    <div class="subsection-title">
      <h2>Toys</h2>
      <img src="{% static 'images/little-bird.svg' %}" alt="A bird toy" />
      <img src="{% static 'images/Schaukel-coloured.svg' %}" alt="A bird swing" />
      <img src="{% static 'images/tau.svg' %}" alt="Rope" />
    </div>
    <h3>{{ finch.name }}'s Toys</h3>
    <div class="subsection-content">
      {% if finch.toys.count %}
        {% for toy in finch.toys.all %}
          <div class="toy-container">
            <div
              class="color-block"
              style="background-color: {{ toy.color }}"
            ></div>
            <a href="{% url 'toys_detail' toy.id %}">
              <p>A {{ toy.color }} {{ toy.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">{{ finch.name }} doesn't have any toys :(</p>
      {% endif %}
    </div>
    <h3>Available Toys</h3>
    <div class="subsection-content">
      {% if toys.count %}
        {% for toy in toys.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ toy.color }}"
            ></div>
            <a href="{% url 'toys_detail' toy.id %}">
              <p>A {{ toy.color }} {{ toy.name }}</p>
            </a>
            <form action="{% url 'assoc_toy' finch.id toy.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Give toy</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-toys">
          {{finch.name}} already has all the available toys 🥳
        </p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}