{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/finches/finch-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Finch List</h1>
  <img src="{% static 'images/animal-gaa8ee54b4_1920_adobe_express.svg' %}" alt="A grey and orange cheeked finch on a branch" />
  <img src="{% static 'images/society-finch-g66fe317d5_1920_adobe_express.svg' %}" alt="A brown and white finch on a branch " />
  <img src="{% static 'images/zebra-finch-g1e268c15a_1920_adobe_express.svg' %}" alt="A orange beaked finch facing the camera" />
  <img src="{% static 'images/chaffinch-g12c761c40_1920_adobe_express.svg' %}" alt="A brown, blue, and brown finch pirched on a tree branch" />
</section>

<section class="card-container">
  {% for finch in finches %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/chaffinch-g12c761c40_1920_adobe_express.svg' %}" 
            alt="A finch on a branch"
          >
        </div>
        <h2 class="card-title">{{ finch.name }}</h2>
        {% if finch.age > 0 %}
          <p>A {{ finch.age }} year old {{ finch.breed }}</p>
        {% else %}
          <p>A {{ finch.breed }} finch.</p>
        {% endif %}
        <p><small>{{ finch.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}